@import "tailwindcss" prefix(lis);

@theme {
  --color-night: #042c53;
  --color-primary: #185fa5;
  --color-accent: #378add;
  --color-soft: #85b7eb;
  --color-white: #e6f1fb;
  --color-neutral: #f1efe8;
}

body {
  background-color: var(--color-neutral);
  color: var(--color-night);
}
