@import "tailwindcss";
@config "../../tailwind.config.ts";

:root {
  /* Palette Colori Virtuallis */
  --lis-color-night: #042c53;
  --lis-color-primary: #185fa5;
  --lis-color-accent: #378add;
  --lis-color-soft: #85b7eb;
  --lis-color-white: #e6f1fb;
  --lis-color-neutral: #f1efe8;
}

body {
  /* Sfondo neutro di base per test e reset dei colori */
  background-color: var(--lis-color-neutral);
  color: var(--lis-color-night);
}
